body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

nav {
    background-color: #444;
    overflow: hidden;
}
nav a {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav a.selected {
  text-decoration: underline;
}
nav a:hover {
    background-color: #ddd;
    color: #333;
}
section {
    padding: 20px;
}

section h1 {
  font-size: 2.3em;
  font-weight: bold;
  text-align: center;
  color: #333;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.column {
    flex: 1;
    margin: 10px;
    text-align: center;
}
.column img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: -webkit-fill-available;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
  }
  

  .contact-form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
    padding: 8px; 
  }
  
  .contact-form label {
    font-size: 18px;
    color: #333;
    margin-bottom: 8px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 8px;
    border-radius: 4px;
    border: none;
    background-color: #f1f1f1;
    margin-bottom: 16px;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    background-color: #fff;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  .contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .contact-form button:hover {
    background-color: #555;
  }

  
  @media only screen and (max-width: 768px) {
    footer {
      position: static;
    }
  }
  

@media screen and (max-width: 600px) {
    .column {
        flex-basis: 100%;
    }

    .column img {
        height: 150px;
      }
}

